<h1>Login</h1>

<% form_tag timelines_path do -%>
  <p>
    <label for="empid">login:</label><br />
    <%= text_field_tag :login, @login %>
  </p>

  <p>
    <label for="password">password:</label><br />
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= submit_tag "Login" %>
  </p>
<% end -%>